
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/baab19fc7b.js" crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <div class="contact">
            <h3>contact us</h3>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> TTLABSGAMING@turntabl.io</li>
                <li><i class="fa-solid fa-phone"></i> +233 302 879562</li>
                <li><i class="fa-solid fa-location-dot"></i> Advantage Place</li>
            </ul>
        </div>
    </section>  
</body>
</html>
