<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Poki-Wars</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/baab19fc7b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section>
            <div class="hero">
                <div class="main-width">
                    <header>
                        <div class="logo">
                            <i class="fa-solid fa-dragon fa-5x fa-fade"style="--fa-animation-duration: 3.5s; --fa-fade-opacity: 0.6;"></i>
                        </div>

                        <nav>
                            <ul>
                                <li class="active"><a href="#Pokemon-Cards">THE POKEMON</a></li>
                                <li class="active"><a href="#Contact-Us">CONTACT US</a></li>
                            </ul>
                        </nav>
                    </header>

                    <div class="content">
                        <div class="main-text">
                            <h6>#1 Pokemon Fight Simulator</h6>
                            <h3>TTLabs Gaming</h3>
                            <h1>POKE-WARS</h1>
                            <p>Go Poke vs Poke and find out which would win in an all out battle to the DEATH!!!!</p>
                            <a href="#The-Battleground">BATTLE NOW</a>
                            <a href="#" class="cta"><i class="fa-solid fa-play"></i> WATCH TUTORIAL</a>
                        </div>

                        <div class="image">
                            <img src= "/assets/img/bulba.png"  height="600">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="Pokemon-Cards">
            <app-cards></app-cards>
        </section>

        <section id="The-Battleground">
            <app-battleground></app-battleground>
        </section>

        <section id="Contact-Us">
            <app-contact></app-contact>
        </section>

    </body>
</html>