
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>

    <div class="srchbr">
        <input type="text" name="search" placeholder="Champion 1..." #champion1 (keydown.enter)="getPokemon1(champion1.value)">
        <input type="text" name="search" placeholder="Champion 2..." #champion2 (keydown.enter)="getPokemon2(champion2.value)">
    </div>
    <div class="fighters">
        <img src="{{fighterOne.sprites.front_default}}" id="one"> 
        <img src="{{fighterTwo.sprites.front_default}}"> 
    </div>
   

    <!-- <div class="stage">
        <div id="fighter1">
            <button type="button" (click)="getFighterOne()"> ROULETTE </button>
            <div *ngIf="fighterOne">
                <img [src] ="fighterOne.url"> 
            </div>
        </div>
        <div id="fight-stage">
            <button type="button" (click)="getFightResults(fighterOne, fighterTwo)"> FIGHT </button>
            <h1> {{ getFightResults(fighterOne, fighterTwo).name }} Wins!!!</h1>
        </div>
        <div id="fighter2">
            <button type="button" (click)="getFighterTwo()"> ROULETTE </button>
            <div>
                <img [src] ="fighterTwo.url">
            </div>
        </div>

    </div> -->
    

</body>
</html>