
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="srchbr">
        <input type="text" name="search" placeholder="Champion 1..." #champion1 (keydown.enter)="getPokemon(champion1.value)">
        <input type="text" name="search" placeholder="Champion 2..." #champion2 (keydown.enter)="searchChampion2ByName(champion2.value)">
    </div>

    <div class="main-stage">
        <h1 height="500">hello</h1>
    </div>
</body>
</html>