
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <div class="main">
            <h1>The Pokemon</h1>
            <h4>a collection of all the warriors we have available for battle</h4>
        </div>
    </section>

    <marquee  behavior="scroll" direction="left" loop="">          
          <img src="/assets/crds/1.jpg" height="300" width="230"> 
          <img src="/assets/crds/2.jpg" height="300" width="230"> 
          <img src="/assets/crds/3.jpg" height="300" width="230">
          <img src="/assets/crds/4.jpg" height="300" width="230">
          <img src="/assets/crds/5.jpg" height="300" width="230">
          <img src="/assets/crds/6.jpg" height="300" width="230">
          <img src="/assets/crds/7.jpg" height="300" width="230">
          <img src="/assets/crds/8.jpg" height="300" width="230">
          <img src="/assets/crds/9.jpg" height="300" width="230">
          <img src="/assets/crds/10.jpg" height="300" width="230">
          <img src="/assets/crds/11.jpg" height="300" width="230">
          <img src="/assets/crds/12.jpg" height="300" width="230">
        
    </marquee>    
</body>
</html>